# Enable OpenThread
CONFIG_OPENTHREAD_ENABLED=y
CONFIG_OPENTHREAD_CLI=n

# Configure provisioning over Thread
CONFIG_APP_NETWORK_OVER_THREAD=y
CONFIG_APP_NETWORK_OVER_THREAD_IPV4_NETWORKING=y
CONFIG_NETWORK_PROV_NETWORK_TYPE_THREAD=y

# Configure transport as BLE (since SoftAP will not be available)
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_APP_NETWORK_PROV_TRANSPORT_BLE=y
